/*@warn "The compass/css3/shared module has been deprecated.
You can silence this warning by importing compass/css3/deprecated-support instead.
Please be aware that module will be removed in the next release.";

@import "deprecated-support";*/
/*@warn "The compass/css3/shared module has been deprecated.
You can silence this warning by importing compass/css3/deprecated-support instead.
Please be aware that module will be removed in the next release.";

@import "deprecated-support";*/
/*@warn "The compass/css3/shared module has been deprecated.
You can silence this warning by importing compass/css3/deprecated-support instead.
Please be aware that module will be removed in the next release.";

@import "deprecated-support";*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  -webkit-animation: rainbow 10s infinite;
}

body {
  background-color: #339966;
}

.nav {
  position: relative;
  width: 900px;
  margin: 0 auto;
  perspective: 300px;
  font-size: 70px;
  text-align: center;
  margin: 0 auto;
  -webkit-mask-image: -webkit-linear-gradient(black 48%, rgba(0, 0, 0, 0.4) 78%);
  *zoom: 1;
}
.nav:after {
  content: " ";
  display: table;
  clear: both;
}

nav {
  float: right;
  margin-top: 25px;
  padding-right: 30px;
  -webkit-transition: all 0.5s ease;
}
.open nav {
  opacity: 0;
}
.close nav {
  display: block;
  opacity: 1;
  -webkit-transform: translateX(-20px);
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
}
nav ul a {
  margin: 0 2px;
  color: white;
  font: 18px "Open Sans Semi-Bold", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
nav ul a span {
  position: relative;
  display: inline-block;
  padding: 2px 14px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
nav ul a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  max-heigth: 28px;
  line-height: 28px;
  content: attr(data-hover);
  text-align: center;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
nav ul a:hover span, nav ul a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}
nav ul a:hover span::before, nav ul a:focus span::before {
  border: 3px solid white;
}

.bt-nav {
  position: absolute;
  right: -8px;
  top: 64px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 99999;
}
.open .bt-nav .line1 {
  top: 15px;
}
.open .bt-nav .line3 {
  top: 23px;
}
.close .bt-nav .line {
  top: 17px;
}
.close .bt-nav .line1 {
  -webkit-transform: rotateZ(45deg);
}
.close .bt-nav .line2 {
  opacity: 0;
}
.close .bt-nav .line3 {
  -webkit-transform: rotateZ(-45deg);
}
.bt-nav .line {
  position: absolute;
  top: 7px;
  left: 50%;
  width: 24px;
  margin-left: -15px;
  height: 3px;
  background: white;
  -webkit-transition: all 0.2s ease;
}

@-webkit-keyframes rainbow {
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
  }

  40% {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  40% {
    transform: rotateY(360deg);
  }
}
